<!DOCTYPE html>
<html>
<head>
	<title>Book Shopping Online Store</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/livro.css">
</head>
<body> 
	<header class="row">
	<nav class="col-md-8 col-md-offset-2">
		<ul class="nav nav-tabs">
			<li><a href='/mensagens'>Mensagens</a></li>
			<li><a href='/autenticacao'>Autenticação</a></li>
			<li><a href='/livros'>livro</a></li>
			<li><a href='/cart'>Carrinho</a></li>
		</ul>
	</nav>
	</header>
	<main>
		<section>
			<h2><strong>Livraria Rosalivros</strong></h2>
			
			<ul class="books">
			{{# each livros}}
				<li>
					{{# each this}}
					<img src="{{ this.imagePath }}">
					<h3>{{ this.title }}</h3>
					<p>{{ this.description }}</p>
                    <td>${{ this.price }}</td> 
					<button>Add to Cart</button>
					{{/each}}
				</li>
			{{/each}}
		</section>

		{{!-- <section>
			<h2><strong>Livros Populares</strong></h2>
			<ul class="books">
				<li>
					<img src="https://comicvine.gamespot.com/a/uploads/scale_medium/13/136525/5977324-1.jpg" alt="Book 4">
					<h3>Hunter X Hunter</h3>
					<p>Historia de Yoshihiro Togashi</p>
					<td>$19.99</td> 
					<button>Add to Cart</button>
				</li>
				<li>
					<!-- <img src="https://m.media-amazon.com/images/I/51HW0wQziGL.jpg" alt="Book 5"> -->
					<img src="https://xtremedivider.files.wordpress.com/2012/05/bleach-rebooted-souls.jpg" alt="Book 5">
					<h3>Bleach</h3>
					<p>Historia de Kubo</p>
					<td>$19.99</td> 	
					<button>Add to Cart</button>
				</li>
				<li>
					<!-- <img src="https://m.media-amazon.com/images/I/51rw7Tzu+YL._SX331_BO1,204,203,200_.jpg" alt="Book 6"> -->
					<img src="https://i.pinimg.com/736x/2b/66/d7/2b66d7d42491fec01903b09828496dcb.jpg" alt="Book 6">
					<h3>Boruto</h3>
					<p>Historia de Masashi kishimoto</p>
					<td></td>
					<button>Add to Cart</button> 
				</li>
			</ul>
		</section> --}}
	</main>

	<footer>
		<p>&copy; 2023 Livraria Rosalivros.</p>
	</footer>
</body>
</html>

