<header class="row">
    <nav class="col-md-8 col-md-offset-2">
        <ul class="nav nav-tabs">
            <li routerLinkActive="active"><a [routerLink]="['/mensagens']">Mensagens</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/autenticacao']">Autenticação</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/livro']">livro</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/cart']">Carrinho</a></li>
        </ul>
    </nav>
</header>